.tdash-background {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2016/02/15/abu-dhabi-trip-picture-from-friends-apartment-complex-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.tdash-section {
  padding: 8px 50px;
}

.tdash-modal {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.tdash-left {
  margin-right: 5px;
  width: 60%;
  /* border: 1px solid red; */
}

.tdash-right {
  padding: 5px;
  width: 40%;
  border: 1px solid green;
}

.tdash-button {
  background-color: #3f4e4f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tdash-button:hover {
  background-color: #2c3639;
}

.tdash-button:focus {
  outline: none;
  box-shadow: 0 0 3px #2c3639;
}
