.about-background {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2016/02/15/abu-dhabi-trip-picture-from-friends-apartment-complex-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-team {
  text-align: center;
  transform: translateY(-150px);
  background-color: rgba(190, 190, 190, 0.8);
  padding: 20px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #333;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.team-member {
  max-width: 250px;
  cursor: pointer;
  position: relative; /* For positioning the popover */
  transition: transform 0.3s ease;
}

.member-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.member-photo:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.team-members:hover .team-member:not(:hover) {
  opacity: 0.5;
}

.popover {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  display: none;
}

.team-member:hover .popover {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
