/* .form-header,
.form-footer {
  display: flex;
  justify-content: center;
} */

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  gap: 15px;
  align-items: center;
  border: 1px solid red;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-wrapper h2 {
  color: whitesmoke;
}

.form-wrapper > label {
  display: flex;
  border: 1px solid pink;
  font-size: 19px;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}

.form-wrapper > label > span {
  /* border: 1px solid blue; */
  width: 30%;
  margin-right: 10px;
  /* overflow: visible; */
}

.form-wrapper > label > input {
  padding: 5px;
  margin: 5px;
  width: 55%;
  font-size: 17px;
}

.form-wrapper button {
  margin: 5px auto;
  background-color: #3f4e4f;
  color: white;
  border: none;
  padding: 9px 5px;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
}

.form-wrapper button:hover {
  background-color: #2b3536;
  transition: 0.5s;
}
